# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.venv
.env.local

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# SQLite
*.sqlite3
*.db

# Dependencies
/instance
/venv/
/env/

# Netlify
.netlify

# Google OAuth
credentials.json
token.json

# Build artifacts
/dist
/build

# Log files
*.log

# OS-specific
.DS_Store
Thumbs.db